.heroSection {
	width: 100%;
	display: flex;
	align-items: center;
	height: calc(min(16.75rem + 90 * ((100vw - 834px) / (1320 - 834)), 22.5rem));
	position: relative;
}
.heroSection::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100vw;
	/* This↓ is a bug. If you remove transform translate, a white bar will appear above the section */
	transform: translate(0);
	margin: 0 calc(50% - 50vw);
	padding: 0 calc(50vw - 50%);
	height: 100%;
	background-image: url("/images/hero-section/hero-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 835px) {
	.heroSection {
		height: calc(min(16.75rem + (40 * (834px - 100vw) / (834 - 430)), 19.25rem));
	}
	.heroSection::before {
		filter: brightness(50%);
	}
}
@media (max-width: 431px) {
	.heroSection::before {
		filter: brightness(30%);
	}
}
