.wrapper {
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.title {
	width: 100%;
	text-align: center;
}

.wrapperButtons {
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	gap: 1.25rem;
}

@media (max-width: 405px) {
	.cancelButton {
		display: none;
	}
}
