.navLink {
	width: max-content;
	color: var(--color-3);
	font-size: calc(min(0.875rem + 2 * ((100vw - 320px) / (1280 - 320)), 1rem));
	font-weight: 500;
	line-height: 1.6;
	text-decoration: none;
	position: relative;
	transition: color var(--hover-transit);
	height: max-content;
}
.navLink::after {
	content: "";
	background-color: var(--color-4);
	position: absolute;
	bottom: -5%;
	left: -13%;
	right: -13%;
	margin: auto;
	width: 0%;
	height: 5%;
	transition: width var(--hover-transit);
}

.navLink:hover,
.navLink.active {
	color: var(--color-4);
}
.navLink.active::after {
	width: 126%;
}
