.header {
	width: 100vw;
	height: 3.75rem;
	min-height: 3.75rem;
	display: flex;
	align-items: center;
	background-color: var(--color-7);
	position: fixed;
	z-index: 10;
}
.headerContainer {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0 !important;
}
.navWrapper {
	display: flex;
	align-items: center;
	gap: calc(min(2.1875rem + 30 * ((100vw - 840px) / (1320 - 840)), 4.0625rem));
}
.secondBlockWrapper {
	display: flex;
	align-items: center;
	gap: calc(min(2rem + 24 * ((100vw - 840px) / (1320 - 840)), 3.5rem));
}
.logo {
	width: 8.125rem;
}
.burgerButtonWrapper {
	display: none;
}

@media (max-width: 950px) {
	.socialBlock {
		position: absolute;
		margin-top: 8rem;
		right: 1.25rem;
		padding: 0.3125rem;
		background-color: rgba(3, 26, 89, 0.2);
		backdrop-filter: blur(0.1875rem);
		border-radius: 0.625rem;
	}
}
@media (max-width: 812px) {
	.navWrapper {
		gap: 0;
	}
	.burgerButtonWrapper {
		display: block;
	}
}
@media (max-width: 550px) {
	.socialBlock {
		/* position: static;
		margin-top: 0;
		padding: 0;
		background-color: transparent;
		backdrop-filter: none;
		border-radius: none; */
		display: none;
	}
	.headerAutorizedUser {
		display: none;
	}
}
