.mainContent {
   display: flex;
   flex-direction: column;
   gap: calc(min(1.5rem + 40 * ((100vw - 320px) / (1320 - 320)), 4rem));
}

.wrapperButtons {
   display: flex;
   flex-wrap: wrap;
   gap: 1.25rem;
   justify-content: center;
}
