.howItWorks {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.contentWrapper {
   display: flex;
   gap: 1.25rem;
   justify-content: center;
   flex-wrap: wrap;
}

@media (max-width: 1319px) {
   .titleWrapper {
      display: flex;
      justify-content: center;
   }
}
